body {
  background: #fafafa;
}
h1{
color:lightskyblue;
word-spacing:10px;
background-color:#aa4444;
width:240px;
}
sub{
color:white;
letter-spacing:5px;
background-color:blue;
border-radius:50%;
}
body{
transition:all 1.5s ease;
}
